body {
  /* background-image: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}